# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### client


.DS_Store
**/.DS_Store
client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/build
client/.DS_Store
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*


### server

server/*#
server/.idea
server/*.iml
server/*.ipr
server/*.iws
server/*.jar
server/*.sw?
server/*~
server/.#*
server/.*.md.html
server/.DS_Store
server/**/.DS_Store
server/.attach_pid*
server/.classpath
server/.factorypath
server/.gradle
server/.idea
server/.metadata
server/.project
server/.recommenders
server/.settings
server/.springBeans
server/.vscode
server/code
server/MANIFEST.MF
server/_site/
server/activemq-data
server/bin
server/build
server/!/**/src/**/bin
server/!/**/src/**/build
server/build.log
server/dependency-reduced-pom.xml
server/dump.rdb
interpolated*.xml
server/lib/
server/manifest.yml
server/out
server/overridedb.*
server/target
server/.flattened-pom.xml
server/secrets.yml
server/.gradletasknamecache
server/.sts4-cache
server/src/main/resources/application.properties
