.container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin: 10px 30px;
    padding-bottom: 10px;

    > a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      span {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    img {
      width: 300px;
      margin: 50px auto;
    }
  }

  .filters {
    padding: 0 25vw;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    .header {
      margin: 10px 30px;
      padding-bottom: 10px;

      h2 {
        max-width: 35vw;
        font-size: 12px;
      }

      > a {
        span {
          font-size: 15px;
        }
      }
    }

    .logo {
      img {
        width: 170px;
        margin: 40px auto;
      }
    }

    .filters {
      padding: 0 10px;
    }
  }
}
