.object-container {
  border-radius: 5px;
  margin-bottom: 40px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .object-details {
    display: flex;

    .object-info {
      flex: 1;

      p {
        margin-bottom: 10px;
      }
    }
  }

  .object-img {
    width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .skeleton {
    margin-bottom: 80px;

    > * {
      background-color: lightgray;
    }
    .title {
      width: 40%;
      height: 30px;
      margin-bottom: 20px;
    }
    .image {
      height: 400px;
      margin-bottom: 20px;
    }
    .details {
      width: 30%;
      height: 20px;
      margin-bottom: 10px;
    }

    .detail1 {
      width: 40%;
    }
    .detail2 {
      width: 80%;
      height: 40px;
    }
    .detail3 {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 760px) {
  .object-container {
    h1 {
      font-size: 19px;
    }
  }
}
